<div class='header'>
    <div class="left_header" >
        <nav class='header__inner'>
            <a href="" class="nav__link">Главная</a>
            <a href="aboutproject" class="nav__link">О проекте</a>
            <a href="" class="nav__link">Отзывы</a>
            <a href="contacts" class="nav__link">Контакты</a>
            <a href="test" class="nav__link">Олимпиада</a>

        </nav>
    </div>
        <div class="logo">
                <img class="cube" src="assets\img\Рисунок1.jpg" alt="">
                <p class="text">
                    
                    <b>Ленинградские</b><br>
                    <b>Математически</b> <br>
                    <b>Кружки</b>
                </p>
        </div>
</div>