<div>
    <div class="list">
        <app-chapter-list>
        </app-chapter-list>
        <!--<a class="list_href" href='task1' >глава 1. Нулевой цикл</a>
        <a class="list_href" href="list_href">глава 2. Четность</a>
        <a class="list_href" href="list_href">глава 3. Комбинаторика-1 </a>
        <a class="list_href" href="list_href">глава 4. Делимость и остатки</a>
        <a class="list_href" href="list_href">глава 5. Принцип Дирихле</a>
        <a class="list_href" href="list_href">глава 6. Графы-1</a>
        <a class="list_href" href="list_href">глава 7. Неравенства треугольника</a>
        <a class="list_href" href="list_href">глава 8. Игры</a>
        <a class="list_href" href="list_href">глава 9. Индукция</a>
        <a class="list_href" href="list_href">глава 10. Делимость-2</a>
        <a class="list_href" href="list_href">глава 11. Комбинаторика-2</a>
        <a class="list_href" href="list_href">глава 12. Инвариант</a>
        <a class="list_href" href="list_href">глава 13. Графы-2</a>
        <a class="list_href" href="list_href">глава 15. Системы счисления</a>
        <a class="list_href" href="list_href">глава 16. Неравенства</a>-->
    </div>
</div>
