<div class="div_task1">
    <p class='title'>Глава 1. Нулевой цикл</p>
    <p class="description">В этой главе собрано 25 простых задач. Для их решения не требуется ниче­го, кроме здравого
        смысла и простейших
        вычислительных навыков.</p>
    <p>
        <a class="task_href" href="num1">
            Задача 6.
        </a> В январе некоторого года было четыре пятницы и четыре понедель­ника. Каким днем недели было 20-е число этого месяца?
    </p>
    <p>
        <a class="task_href" href="">
            Задача 7.
        </a> Сколько клеток пересекает диагональ в клетчатом прямоугольнике размерами 199 × 991?
    </p>
    <p>
        <a class="task_href" href="">
            Задача 8.
        </a>Из числа 1234512345123451234512345 вычеркните 10 цифр так, чтобы оставшееся число было максимально возможным.

    </p>
    <p>
        <a class="task_href" href="num4">
            Задача 9.
        </a>Петя говорит: позавчера мне еще было 10 лет, а в следующем году мне исполнится 13. Может ли такое быть?

    </p>
    <p>
        <a class="task_href" href="">
            Задача 10.
        </a>Петин кот перед дождем всегда чихает. Сегодня он чихнул. “Зна­чит, будет дождь” - думает Петя. Прав ли он?
    </p>
    <nav class="nav_task">
        Страницы:
        <a class="page" href="task1">1</a>
        <a class="page" href="">2</a>
        <a class="page" href="">3</a>
        <a class="page" href=''>4</a>
        <a class="page" href="">5</a>
    </nav>
</div>