<div class="aboutproject">
    <p>Этот сайт создан для подготовки к олимпиадам по математике для школьников 6 - 8 классов. Он поможет устранить проблемы в
школьных знаниях и изучить основные разделы олимпиадной математики.</p>

    <p>Сайт разработан на основе книги В.А.Гусева, А.И.Орлова, A.Л.Розенталя «Ленинградские математические кружки», в которой
собран опыт многих поколений преподавателей математики.</p>

    <p>Пользователь сможет выбрать для себя отдельные темы для изучения и пройти по ним курс решения практических заданий. При
решении задач можно получить помощь в виде подсказки. Решив задачу, пользователь может проверить свой ответ и
ознакомиться с авторским разбором и решением задачи.</p>
</div>